attrs
backcall
bleach
contourpy
cycler
decorator
defusedxml
distlib
entrypoints
filelock
fonttools
h5py
html5lib
imageio
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-console
jupyter-core
kiwisolver
lazy-loader
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
networkx
notebook
numpy
numpy-stl
packaging
pandocfilters
parso
pexpect
pickleshare
pillow
platformdirs
prometheus-client
prompt-toolkit
Pygments
pyparsing
pyrsistent
python-dateutil
python-utils
PyWavelets
pyzmq
scikit-image
scipy
Send2Trash
six
terminado
testpath
tifffile
tornado
traitlets
typing-extensions
virtualenv
wcwidth
webencodings
widgetsnbextension
zipp
